# 部署thinkphp项目
# 本地开发好的thinkphp项目一次性打包上传到服务器
server {
    access_log /var/log/nginx/access.php.log; # 自定义访问日志目录
    error_log /var/log/nginx/error.php.log; # 自定义错误日志目录
    listen       9999; # 监听9999端口
    root         /home/admin/html/public; # 文件存储目录(直接进入public目录)

    location / {
        if (!-e $request_filename) {
        rewrite  ^(.*)$  /index.php?s=/$1  last; # 重定向
        }
    }
    location ~ \.php {
        include fastcgi_params; // php cgi网关
        fastcgi_pass  unix:/run/php/php7.4-fpm.sock; // 得安装这个php-frm, 目前是7.4版本
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param  PATH_INFO  $fastcgi_path_info;
        fastcgi_param  PATH_TRANSLATED  $document_root$fastcgi_path_info;
    }
}
